<!-- services section starts  -->

<section class="services" id="services">

    <div class="box-container">

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-hotel"></i>
            <h3><a href="/qlchuyenxe/{{this.ma_nha_xe}}">Chuyến Xe</a></h3>

        </div>

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-plane"></i>
            <h2> <a href="/qlluotchay/{{this.ma_nha_xe}}">Lượt Chạy</a></h2>

        </div>

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-hiking"></i>
            <h2><a href="/qlnhanvien/{{this.ma_nha_xe}}">Nhân viên</a> </h2>
        </div>

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-globe"></i>
            <h2> <a href="/qlxe/{{this.ma_nha_xe}}">Xe</a> </h2>
        </div>

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-chart-bar"></i>
            <h2> <a href="/qlthongke/{{this.ma_nha_xe}}">Thống kê</a> </h2>
        </div>

    </div>

</section>
<!-- services section ends -->

<!-- filter form section starts  -->

<section class="add-form-container" data-aos="zoom-in">
    <h2>THÊM LƯỢT CHẠY</h2>

    <form method="POST" action="/addluotchay/{{this.ma_nha_xe}}" novalidate>



        <div class="inputBox">
            <span>GIỜ KHỞI HÀNH</span>
            <input type="text" placeholder="nhập Giờ khởi hành" value="{{this.gio_khoi_hanh}}" name="gio_khoi_hanh">
        </div>

        <div class="inputBox">
            <span>PHỤ THU</span>
            <input type="text" placeholder="nhập Phụ thu" value="{{this.phu_thu}}" name="phu_thu">
        </div>
        <div class="inputBox">
            <span>CHUYẾN XE</span>
            <input type="text" placeholder="chọn mã chuyến xe" value="{{this.ma_chuyen_xe}}" name="ma_chuyen_xe" list="cars">

            <datalist id="cars">
                {{#each ma_luot}}
                <option value={{this.chuyen}}>{{this.diem_den}}</option>
                {{/each}}
            </datalist>
        </div>
        <div class="inputBox">
            <span>BIỂN SỐ XE</span>
            <input type="text" placeholder="chọn xe" value="{{this.noi_den}}" name="bien_so_xe" list="bien_so">

            <datalist id="bien_so">
                {{#each bien_so}}
                <option value={{this.val}}></option>
                {{/each}}
            </datalist>
        </div>
        <input type="submit" value="Thêm lượt chạy" class="btn">

    </form>

</section>

<!-- filter form section ends -->