
<!-- services section starts  -->

<section class="services" id="services">

    <div class="box-container">

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-hotel"></i>
            <h3><a href="/qlchuyenxe/{{this.ma_nha_xe}}">Chuyến Xe</a></h3>
            
        </div>

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-plane"></i>
            <h2> <a href="/qlluotchay/{{this.ma_nha_xe}}">Lượt Chạy</a></h2>
            
        </div>

         <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-hiking"></i>
            <h2><a href="/qlnhanvien/{{this.ma_nha_xe}}">Nhân viên</a> </h2>
        </div>

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-globe"></i>
            <h2> <a href="/qlxe/{{this.ma_nha_xe}}">Xe</a> </h2>
        </div>

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-chart-bar"></i>
            <h2> <a href="/qlthongke/{{this.ma_nha_xe}}">Thống kê</a> </h2>
        </div>

    </div>

</section>
<!-- services section ends -->

<!-- filter form section starts  -->

<section class="add-form-container" data-aos="zoom-in">
    <h2>THÊM CHUYẾN XE MỚI</h2>

    <form method="POST" action="/addchuyenxe/{{this.ma_nha_xe}}" novalidate>

    
        <div class="inputBox">
            <span>TÊN TRẠM ĐẾN</span>
            <input type="text" placeholder="nhập Trạm đến" value="{{this.noi_di}}" name="tram_den">
        </div>

        <div class="inputBox">
            <span>NGÀY KHỞI HÀNH</span>
            <input type="date" placeholder="nhập Nơi đến" value="{{this.noi_den}}" name="ngay_khoi_hanh">
        </div>
        <div class="inputBox">
            <span>TUYẾN XE</span>
            <input type="text" placeholder="nhập mã tuyến" value="{{this.noi_den}}" name="tuyen_xe" list="cars">

            <datalist id="cars">
                {{#each ma_tuyen}}
                <option value={{this.tuyen}}>{{this.diem_di}} - {{this.diem_den}}</option>
                {{/each}}
            </datalist>
        </div>
        <div class="inputBox">
            <span>GIÁ VÉ</span>
            <input type="text" placeholder="nhập giá vé" value="{{this.noi_den}}" name="gia_ve">
        </div>
        <input type="submit" value="Thêm Chuyến Xe" class="btn">

    </form>

</section>

<!-- filter form section ends -->