
<!-- services section starts  -->

<section class="services" id="services">

    <div class="box-container">

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-hotel"></i>
            <h3><a href="/qlchuyenxe/{{this.ma_nha_xe}}">Chuyến Xe</a></h3>
            
        </div>

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-plane"></i>
            <h2> <a href="/qlluotchay/{{this.ma_nha_xe}}">Lượt Chạy</a></h2>
            
        </div>

         <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-hiking"></i>
            <h2><a href="/qlnhanvien/{{this.ma_nha_xe}}">Nhân viên</a> </h2>
        </div>

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-globe"></i>
            <h2> <a href="/qlxe/{{this.ma_nha_xe}}">Xe</a> </h2>
        </div>

        <div class="box" data-aos="zoom-in">
            <span>Quản Lý</span>
            <i class="fas fa-chart-bar"></i>
            <h2> <a href="/qlxe/{{this.ma_nha_xe}}">Thống kê</a> </h2>
        </div>

    </div>

</section>

<!-- services section ends -->

<!-- tables section starts  -->

<section class="tables" id="tables">

    <div class="box-container">
        <h2>DANH SÁCH CÁC CHUYẾN XE </h2>

        <div class="row">
          <div class="col-6 d-flex justify-content-end">
            <a href="/" type="button" class="btn btn-primary align-self-center">Thêm Chuyến Xe</a>
             <h2> </h2>
          </div>
        </div>


    <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-6">MÃ CHUYẾN</div>
          <div class="col col-6">TÊN TRẠM</div>
          <div class="col col-6">NGÀY KHỎI HÀNH</div>
          <div class="col col-6">GIÁ VÉ</div>
          <div class="col col-6"></div>
          <div class="col col-6"></div>
        </li>
        {{#each rows}}
        <li class="table-row">
          <div class="col col-6" data-label="Job Id">{{this.ma_chuyen}}</div>
          <div class="col col-6" data-label="Job Id">{{this.ten_tram_den}} </div>
          <div class="col col-6" data-label="Amount">{{this.ngay_khoi_hanh}}</div>
          <div class="col col-6" data-label="Amount">{{this.gia_ve}}</div>
          <div class="col col-6" data-label="Payment Status"> <a href="/editchuyenxe/{{this.ma_chuyen}}" type="button" class="btn btn-light btn-small-small"><i class="bi bi-pencil-square"></i></a></div>
          <div class="col col-6" data-label="Payment Status"> <a href="#" type="button" class="btn btn-light btn-small-small"><i class="bi bi-trash"></i></a></div>
        </li>
          {{/each}}
       
  </ul>
    </div>

</section>

<!-- tables section ends -->
